/*.dashboard {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "header header"
    "nav main";
  height: 100vh;
}

header {
  grid-area: header;
  background: #333;
  color: white;
}

nav {
  grid-area: nav;
  background: #ccc;
}

main {
  grid-area: main;
  background: #f1f1f1;
}
.item{
  display: flex;
  color:white;
  background: red;
  gap: 20px;
  margin: 10px;
  padding: 10px;
  /* justify-content: center; */
/*  max-width: max-content;
  height: auto;
  align-items: center;
  width: 400px;
}*/
/*.pai{
  width: 500px;
  height: 500px;
  background: black;
  display: flex;
  justify-content: center;
}*/
.bicicleta{
  background: lightblue;
  height: 600px;
  background-image: url(img/bicicleta\ -\ By\ @iAzazelOfc\ 🔥.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: lightskyblue url(img/bicicleta\ -\ By\ @iAzazelOfc\ 🔥.jpg) no-repeat cover center top;
  
  margin: 0 auto;
  display: flex;
}
h1{
  margin: auto;
  background: white;
  padding: 10px;
  
}
.linear{
  height: 200px;
  background-image: linear-gradient(lightblue,lightcoral,red,green,black);
}
.radial{
  height: 200px;
  background-image: radial-gradient(blue,red,green);
}